.post-text {
    margin-bottom: 5px;
    word-wrap: break-word;
    font-size: 15px;
    line-height: 1.3;
}

.post-text pre {
    word-wrap: normal;
    display: block;
    color: #393318;
}

pre {
    margin-bottom: 1em;
    padding: 5px;
    max-height: 600px;
    overflow: auto;
    font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, sans-serif;
    font-size: 13px;
    background-color: #eff0f1;
}

#search-button:hover {
    cursor: pointer;
}

#question {
    border-bottom: 2px solid #e4e6e8;
    margin-bottom: 7px;
    float: left;
    width: 100%;
    padding-bottom: 10px;
}

#question-taglist {
    float: left;
}

.search {
    float: left;
    width: 100%;
}

#search-results {
    float: left;
    width: 100%;
}

.association-candidate {
    width: 100%;
    float: left;
    text-align: left;
    padding: 30px 0 20px;
    border-bottom: 1px solid #e4e6e8;
}

.association-candidate .candidate-title {
    float: left;
    width: 100%;
    font-size: 21px;
    padding-bottom: 15px
}

.association-candidate .candidate-title a {
    float: left;
}

.candidate-menu {
    font-size: 11px;
    width: 100%;
    padding-top: 2px;
    float: left;
}

.candidate-menu>* {
    display: inline-block;
}

.candidate-menu>a {
    padding: 0 3px 2px 3px;
    color: #848d95;
}

.candidate-bar .owner {
    width: auto;
    line-height: inherit;
    padding-top: 4px;
    white-space: nowrap;
    float: right;
    color: #999;
}

.candidate-bar .owner span {
    font-size: 12px;
    margin-right: 2px;
}

.candidate-bar .owner a {
    font-size: 12px;
    color: #07c;
}

.question-actions {
    text-align: left;
}

.question-actions .button {
    font-size: 12px;
    margin: 7px 10px 5px 0px;
}

.question-actions span {
    color: #848d95;
    font-size: 11px;
    text-align: justify;
}

.question-actions table {
    border-collapse: collapse;
}

.explanation {
    float: left;
    width: 668px;
}