* {
    color: rgba(0, 0, 0, 0.8);
    font-family: jaf-bernino-sans, 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Geneva, Verdana, sans-serif;
}

a,
a:active {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

p {
    text-align: justify;
}

body {
    width: 700px;
    margin: 0px auto;
}

#header {
    padding: 20px 0 30px;
    height: auto;
}

.tags {
    line-height: 18px;
    float: left;
}

.tags .post-tag {
    color: #3e6d8e;
    font-size: 12px;
    white-space: nowrap;
    background: #e4edf4;
    border: 1px solid #e4edf4;
    display: inline-block;
    margin: 2px 2px 2px 0;
    border-radius: 0;
    -webkit-transition: color 0.15s ease, background 0.15s ease, border 0.15s ease;
    padding: .4em .5em;
    text-decoration: none;
    text-align: center;
    line-height: 1;
}

.paginator {
    margin: 5px 0px;
    float: right;
    display: block;
    padding: 0;
    border: none;
    padding: 0px;
}

.paginator .page-number-separator {
    float: left;
    display: block;
    padding: 5px 12px;
    font-size: 11px;
    font-weight: bold;
    color: #AAA;
}

.paginator .page-number {
    border: 1px solid #E9E9E9;
    background: #E9E9E9;
    color: #273584;
    display: block;
    float: left;
    margin-right: 4px;
    text-decoration: none;
    font-size: 10px;
    font-weight: bold;
    padding: 5px 9px;
}

.paginator .page-number:hover {
    color: white;
    display: block;
    float: left;
    text-decoration: none;
    font-weight: bold;
    padding: 5px 9px;
}

.paginator .page-number-selected {
    color: white;
    display: block;
    float: left;
    margin-right: 4px;
    text-decoration: none;
    font-size: 10px;
    font-weight: bold;
    padding: 5px 9px;
}

.paginator .page-number:hover,
.paginator .page-number-selected {
    border: 1px solid #E0A831;
    background: #E0A831;
}

.paginator a:hover {
    text-decoration: none;
}
.post-text img {
    width: 100%;
}