* {
    color: rgba(0, 0, 0, 0.8);
    font-family: jaf-bernino-sans, 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Geneva, Verdana, sans-serif;
}

a,
a:active {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

p {
    text-align: justify;
}

body {
    width: 700px;
    margin: 0px auto;
}

#header {
    padding: 20px 0 30px;
    height: auto;
}

.tags {
    line-height: 18px;
    float: left;
}

.tags .post-tag {
    color: #3e6d8e;
    font-size: 12px;
    white-space: nowrap;
    background: #e4edf4;
    border: 1px solid #e4edf4;
    display: inline-block;
    margin: 2px 2px 2px 0;
    border-radius: 0;
    -webkit-transition: color 0.15s ease, background 0.15s ease, border 0.15s ease;
    padding: .4em .5em;
    text-decoration: none;
    text-align: center;
    line-height: 1;
}

.paginator {
    margin: 5px 0px;
    float: right;
    display: block;
    padding: 0;
    border: none;
    padding: 15px 0px 60px;
}

.paginator .page-number-separator {
    float: left;
    display: block;
    padding: 5px 12px;
    font-size: 11px;
    font-weight: bold;
    color: #AAA;
}

.paginator .page-number {
    border: 1px solid #E9E9E9;
    background: #E9E9E9;
    color: #273584;
    display: block;
    float: left;
    margin-right: 4px;
    text-decoration: none;
    font-size: 10px;
    font-weight: bold;
    padding: 5px 9px;
}

.paginator .page-number:hover {
    color: white;
    display: block;
    float: left;
    text-decoration: none;
    font-weight: bold;
    padding: 5px 9px;
}

.paginator .page-number-selected {
    color: white;
    display: block;
    float: left;
    margin-right: 4px;
    text-decoration: none;
    font-size: 10px;
    font-weight: bold;
    padding: 5px 9px;
}

.paginator .page-number:hover,
.paginator .page-number-selected {
    border: 1px solid #E0A831;
    background: #E0A831;
}

.paginator a:hover {
    text-decoration: none;
}

.post-text img {
    width: 100%;
}

.header h2 {
    font-size: 200%;
}

.explanation {
    padding-bottom: 25px;
}

.post-menu {
    width: 100%;
    padding-top: 15px;
}

.post-menu ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

.post-menu a,
.post-menu span {
    padding: 0 3px 2px 3px;
    color: #848d95;
    font-size: 11px;
}

.post-menu a,
.post-menu span {
    display: inline-block;
}

.post-menu a {
    text-decoration: none;
    cursor: pointer;
}

.post-signature {
    text-align: left;
    vertical-align: top;
    width: 200px;
}

.user-info {
    box-sizing: border-box;
    padding: 5px 6px 7px 7px;
    width: 200px;
    color: #6a737c;
}

.user-info .user-gravatar32 {
    float: left;
    width: 32px;
    height: 32px;
    border-radius: 1px;
    box-shadow: 2px 2px 4px rgba(12,13,14,0.5);
    border-collapse: separate;
}

.gravatar-wrapper-32, .gravatar-wrapper-32 img {
    width: 32px;
    height: 32px;
}

[class*="gravatar-wrapper-"] {
    padding: 0;
    overflow: hidden;
}

.user-info .user-gravatar32 img {
    border-radius: 1px;
}

.user-details {
    line-height: 17px;
    word-wrap: break-word;
}

.user-info .user-details {
    float: left;
    width: 100%;
}

.user-info .user-gravatar32+.user-details {
    margin-left: 8px;
    width: calc(100% - 40px);
}


.button {
    white-space: nowrap;
    color: #FFF;
    background-color: #0095ff;
    border-color: #07c;
    box-shadow: inset 0 1px 0 #66bfff;
    display: inline-block;
    position: relative;
    padding: .61538462em 1em;
    vertical-align: middle;
    min-height: 2.46153846em;
    box-sizing: border-box;
    font-weight: 400;
    font-family: inherit;
    line-height: 1;
    text-align: center;
    text-decoration: none;
    border-radius: 2px;
    border: 1px solid transparent;
    cursor: pointer;
    outline: none;
    touch-action: manipulation;
    transition: all .1s ease-in;
}

.button:hover,
.button:focus {
    color: rgba(255,255,255,0.9);
    background-color: #07c;
    border-color: #005999;
    box-shadow: inset 0 1px 0 #3af;
    text-decoration: none;
    transition: all .1s ease-in-out;
    outline: none;
}

.welcome {
    text-align: center;
}

.welcome h2 {
    font-size: 200%;
    margin-top: 0px;
}

.welcome > a,
.welcome > a:hover {
    text-decoration: none;
}

.welcome .sos-plus {
    font-size: 28px;
    font-weight: bold;
}

.welcome .main-description,
.welcome .title {
    text-align: center;
    font-size: 22px;
}

.welcome .login-and-start {
    text-align: center;
}

.welcome .divider {
    width: 100%;
    text-align: center;
    padding: 8px 0 15px;
}

.welcome .divider div {
    width: 60px;
    border-bottom: 2px solid #e0e0e0;
    margin: 0 auto;
}

.welcome .login-and-start > a {
    font-size: 17px;
     line-height: 35px;
}
.welcome .login-and-start > a,
.welcome .login-and-start > a:hover {
    text-decoration: underline;
}

.welcome .login-and-start span {
    font-size: 10px;
}