.overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-y: scroll;
}

.overlay-content {
    top: 25px;
    width: 90%;
    background-color: white;
    margin: 0px auto;
    margin-top: 20px;
    padding: 10px 15px 25px;
}

.overlay .close-button {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
}

.overlay .close-button:hover, .overlay .close-button:focus {
    color: #f1f1f1;
}

.overlay table {
    width: 100%;
    table-layout: fixed;
}

.overlay table td {
    width: 48%;
    word-wrap: break-word;
}

.overlay table td.left {
    float: left;
}
.overlay table td.right {
    float: right;
}

.overlay .close-button {
    position: absolute;
    top: 20px;
    right: 15px;
    font-size: 40px;
}
.overlay-content .so-en-content {
}

.overlay-content .so-int-content {
}

.overlay-content .so-en-content,
.overlay-content .so-int-content {
    width: 100%;
}

.overlay-content .answers {
    width: 100%;
    float: left;
}

.overlay-content .answers .answer {
    border-bottom: 1px solid #e4e6e8;
    margin-bottom: 2px;
    padding: 10px 0 15px;
}

.overlay-content .answer-divider {
    width: 100%;
    float: left;
    border-bottom: 2px solid #e0e0e0;
}

.association-menu {
    text-align: right;
}