<table class="post-menu">
    <tr>
        <td>
            <ul class="links">
                <li><span class="score-help"></span> <span class="score"></span></li>
                <li><span class="posted-help"></span> <span class="posted"></span></li>
                <li><a target="_blank" class="ref-to-post"></a></li>
            </ul>
        </td>
        <td align="right" style="width: 20%;" class="post-signature">
            <div class="user-info">
                <div class="user-gravatar32">
                <a target="_blank" >
                    <div class="gravatar-wrapper-32">
                        <img src="" alt="" width="32" height="32">
                    </div>
                </a>
                </div>
                <div class="user-details">
                <a target="_blank"></a>
                </div>
            </div>
        </td>
    </tr>
</table>