{% extends "base.html" %} {% block js_ext %}
<script type="text/javascript" src="/m/assets/google-code-prettify/prettify.js"></script>
<script type="text/javascript" async="" src="/m/js/question.js"></script>
{% endblock %} {% block css_ext %}
<link rel="stylesheet" href="/m/assets/google-code-prettify/prettify.css">
<link rel="stylesheet" href="/m/css/question.css" type="text/css" media="screen, projection"> {% endblock %} {% block content %}
<div style="display: none" id="question-id">{{ question_id }}</div>
<div id="question" class="question">
    <div id="question-header">
        <h1>
        </h1>
    </div>
    <div id="question-body" class="post-text">
    </div>
    <div id="question-taglist"></div>
</div>
<div id="search-association-box">
    <div class="search">
        <input id="search-input" type="text"><a id="search-button">Поиск</a>
    </div>
    <div id="search-results"></div>
    <script>
        (function() {
            var cx = '005587445788863025345:j_pel-w7mb8';
            var gcse = document.createElement('script');
            gcse.type = 'text/javascript';
            gcse.async = true;
            gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(gcse, s);
        })();
    </script>
    <gcse:search></gcse:search>
</div>
<div id="association-box"></div>
</div>
{% endblock %}