{% extends "base.html" %} {% block js_ext %}
<script>
    var googleCustomSearchKey = "{{ get_google_custom_search_key() }}";
    var googleCustomSearchCX = "{{ get_google_custom_search_cx() }}";
</script>
<script type="text/javascript" src="/m/assets/google-code-prettify/prettify.js"></script>
<script type="text/javascript" src="/m/js/google_custom_search.js"></script>
<script type="text/javascript" async="" src="/m/js/question.js"></script>
<script type="text/javascript" src="/m/js/two_questions_view.js"></script>
{% endblock %} {% block css_ext %}
<link rel="stylesheet" href="/m/assets/google-code-prettify/prettify.css">
<link rel="stylesheet" href="/m/css/question.css" type="text/css" media="screen, projection">
<link rel="stylesheet" href="/m/css/two_questions_view.css" type="text/css" >
{% endblock %} {% block content %}
<div style="display: none" id="question-id">{{ question_id }}</div>
<div style="display: none" id="question-views">{{ question_views }}</div>
<div style="display: none" id="translate-request-count">{{ translate_request_count }}</div>
{% if skip %}
<div style="display: none" id="skip-label">1</div>
{% endif %}
{% if translate_request %}
<div style="display: none" id="translate-request-label">1</div>
{% endif %}
{% include 'two_questions_view.html' %}
<div id="question" class="question">
    <div id="question-header">
        <h2>
        </h2>
    </div>
    <div id="question-body" class="post-text">
    </div>
    <div id="question-taglist"></div>
    {% include 'post_menu.html' %}
</div>
{% if not question.is_associated %}
<div class="question-actions">
    <table>
        <tr>
            <td>
                <a id="skip" class="button"></a>
            </td>
            <td>
                <span>{{ gettext('You will not see this question again in the suggested list. Skip a question if you do your best but cannot find an association.') }}</span>
            </td>
        </tr>
        <tr>
            <td>
                <a id="translate-request" class="button"></a>
            </td>
            <td>
                <span>{{ gettext('If you cannot find an association and think that the question must be in the knowledge base of your community add a translation request.') }}</span>
            </td>
        </tr>
    </table>
</div>
<div id="search-association-box">
    <div class="search">
        <span>{{ gettext('Query') }}</span>
        <input id="search-input" type="text"><a class="button" id="search-button">{{ gettext('Search') }}</a>
    </div>
    <div class="help"><h3></h3></div>
    <div id="search-results">

    </div>
</div>
<div id="association-box"></div>
</div>
{% else %}
<div class="explanation">
    {{ gettext('This question already has been associated.') }}
</div>
{% endif %}
{% endblock %}