{% extends "base.html" %} {% block js_ext %}
<script type="text/javascript" async="" src="/m/js/question_pag_list.js"></script>
<script>
    var initJson = []; 
{% for item in paginator.items %}
    initJson.push({
        "questionId": {{ item.Question }},
        "viewCount": {{ item.Views }}
    }) 
{% endfor %}

</script>
{% endblock %} {% block css_ext %}
<link rel="stylesheet" href="/m/css/question_list.css" type="text/css" media="screen, projection"> {% endblock %} {% block content %}

{% if paginator.page == 1 %}
<div class="explanation">
    {{ gettext('The list bellow contains most viewed questions on Stack Overflow in English by a language audience. In order to add an association pick a question an click on it. In the open window you will see full question with a search box. Use the box to query the associations on an international site. Click on a candidate for association and you will see both the question on Stack Overflow in English and the candidate with their answers. If they are the same associate them!') }}
</div>
{% endif %}

<div class="main-menu">
    <h3>{{ gettext('Questions in English') }}</h3> 
    <div id="tabs">
        <a {% if "most_viewed" in active_tab  %}class="active"{% endif %} href="{{ url_for('index') }}">{{ gettext('Most Viewed') }}</a>
        <a {% if "skipped" in active_tab  %}class="active"{% endif %} href="{{ url_for('skipped') }}">{{ gettext('Skipped') }}</a>
        <a {% if "requested" in active_tab  %}class="active"{% endif %} href="{{ url_for('requested') }}">{{ gettext('Requested') }}</a>
    </div>
</div>
<div id="question_list">
</div>
{% include 'paginator.html' %} {% endblock %}