{% if g.user %}
<div class="topbar">
    <div class="topbar-links">
        <a target="_blank" href="{{ g.user.profile_link }}" class="profile">
            <div class="gravatar-wrapper-24" title="{{ g.user.username }}">
                <img src="{{ g.user.profile_image }}" alt="" width="24" height="24" class="avatar">
            </div>
            <div class="links-container">
                <span class="reputation">
                    {{ g.user.reputation }}
                </span>
            </div>
        </a>
        <a href=" {{ url_for('logout_oauth') }}">{{ gettext('log out') }}</a>
        {% if g.user.role == "moderator" %}
        <a class="topbar-icon" href="#"><span>{{ gettext('mod') }}</span></a>
        {% endif %}
        <a target="_blank" title="{{ gettext('Help to make the app better. Contribute to the project on GitHub.') }}" href="https://github.com/chabanovsky/so_association_tools">{{ gettext('GitHub') }}</a>
    </div>
</div>
{% endif %}