<div id="two-question-popup" class="overlay" style="display: none">
  <a href="javascript:void(0)" class="close-button">&times;</a>
  <div class="overlay-content">
      <div class="association-menu">
            <a id="add-association">{{ gettext('Associate') }}</a>
            <a id="close-popup">{{ gettext('Back') }}</a>
      </div>
      <table>
        <tr>
            <td class="left">
                <div class="so-en-content">
                    {% include 'two_questions_view_with_answers.html' %}
                </div>
            </td>
            <td class="right">
                <div class="so-int-content">
                    {% include 'two_questions_view_with_answers.html' %}
                </div>
            </td>
        </tr>
      </table>
  </div>
</div>