<div class="question-header">
    <h1>
    </h1>
</div>
    <div class="question-body  post-text">
    </div>
    <div>
        <div class="question-taglist"></div>
        <table class="post-menu">
            <tr>
                <td>
                    <ul class="links">
                        <li><span class="score-help"></span> <span class="score"></span></li>
                        <li><span class="posted-help"></span> <span class="posted"></span></li>
                        <li><a target="_blank" class="ref-to-post"></a></li>
                    </ul>
                </td>
                <td align="right" style="width: 10%;" class="post-signature">
                    <div class="user-info">
                        <div class="user-gravatar32">
                        <a target="_blank" >
                            <div class="gravatar-wrapper-32">
                                <img src="" alt="" width="32" height="32">
                            </div>
                        </a>
                        </div>
                        <div class="user-details">
                        <a></a>
                        </div>
                    </div>
                </td>
            </tr>
        </table>
    </div>
    <div class="answer-divider">
        <h3>{{ gettext('Answers') }}</h3>
    </div>
<div class="answers">
</div>